<div class="container mt-4">
    <div class="row justify-content-end g-1 text-center">
        <div class="col-3">
            <a href="./mywork" class="mt-2 btn btn-light btn-block w-100 border border-dark text-dark rounded rounded-5 p-2">New Structure</a>
        </div>
    </div>
    <div class="row justify-content-center g-2 text-center mt-4">
        <div class="col">
            <div class="card border border-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="title fw-bold">
                                Node
                            </div>
                        </div>
                        <div class="col">
                            <div class="title fw-bold">
                                Parent
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            
                            <div class="form-group mt-2">
                                <input type="text" class="form-control fw-bold text-center" name="node[]">
                            </div>
                        </div>
                        <div class="col">
                            
                            <div class="form-group mt-2">
                                <input type="text" class="form-control fw-bold text-center" name="parent[]">
                            </div>
                        </div>

                        <div class="col-1">
                            <div class="button mt-2">
                                <button type="button" class="btn btn-light btn-block w-100 border border-1 rounded-0">-</button>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col">
                            <div class="button">
                                <button type="button" class="btn btn-dark btn-block w-100 rounded-0">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border border-dark">
                <div class="card-body">
                    <div class="image">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Binary_tree.svg" class="img-fluid">
                    </div>

                    <div class="button mt-2">
                        <button type="submit" class="btn btn-dark btn-block w-100 rounded-0">Save</button>
                    </div>
                </div>


            </div>

        </div>
        
    </div>
</div>