<div class="container mt-4">
    <div class="row justify-content-end g-1 text-center">
        <div class="col-4">
            <a href="./../create-new-structure-bulk-create" class="mt-2 btn btn-light btn-block w-100 border border-dark text-dark rounded rounded-5 p-2 float-left">Create New Structure (Seed Manual Process) </a>
        </div>
        
        <div class="col-3">
            <a href="./create-new-structure" class="mt-2 btn btn-light btn-block w-100 border border-dark text-dark rounded rounded-5 p-2">Create New Structure</a>
        </div>
    </div>
    <div class="row justify-content-center g-2 text-center mt-4">
        <% for(let i = 0; i < data.data.length; i++ ) { %> 
        
        <div class="col-4">
            <div class="card border border-dark">
                <div class="card-body">
                    <div class="image">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/Binary_tree.svg" class="img-fluid">
                    </div>
                </div>
                <div class="card-footer p-0">
                    <a href="./mywork-detail/?id=<%- data.data[i].label; %>" class="btn btn-dark w-100 rounded-0">
                        MyWork <%- data.data[i].label; %>
                    </a>
                </div>
            </div>
        </div>
        </a>
        <% } %>
    </div>

    <div class="row justify-content-between mt-4">
        <div class="col-1">
            <div class="pagination">
                <% if (data.currentPage > 1) { %>
                  <a href="/mywork?page=<%= data.currentPage - 1 %>" class="btn btn-dark w-100">Previous</a>
                <% } %>
              
                
              </div>
        </div>

        <div class="col-1">
            <div class="pagination">
                <% if (data.currentPage < data.totalPages) { %>
                  <a href="/mywork?page=<%= data.currentPage + 1 %>" class="btn btn-dark w-100">Next</a>
                <% } %>
              </div>
        </div>
    </div>
</div>