<!DOCTYPE html>
<html>
<head>
  <title><%- title %></title>
  <link rel="stylesheet" href="./../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="./../assets/css/style.css">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="row mt-2 justify-content-between">
        <div class="col-1">
          <div class="navigation">
            <a href="./mywork" class="btn btn-light fw-bold btn-block w-100">Home</a>
          </div>
        </div>

        <div class="col-2">
            <div class="row g-0">
                <div class="col">
                    <div class="navigation">
                        <a href="./mywork" class="btn btn-light fw-bold btn-block w-100">Mywork</a>
                      </div>
                </div>
                <div class="col">
                    <div class="navigation">
                        <a href="./logout" class="btn text-danger btn-light fw-bold btn-block w-100">Logout</a>
                      </div>
                </div>
            </div>
          
        </div>
      </div>
    </div>
  </header>

  <main class="content">
    <%- body %>
  </main>

  <footer class="footer p-3 mb-0 mt-5">
    <!-- <div class="container copyright text-right">
        &copy; 2023. All Right Reserved.
    </div> -->
  </footer>

  <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>
