<form action="./login-process" method="POST">
<div class="card p-0 border border-0">
    <div class="card-header p-0 border border-0 fs-4 fw-bold text-center bg-opacity-75">
        Login Page
    </div>
    <div class="card-body p-0 border bg-none border-0 mt-4 mb-1">
        <div class="form-group mt-2">
            <input type="text" name="username" class="form-control" placeholder="Username">
        </div>

        <div class="form-group mt-2 mb-3">
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
    </div>
    <div class="card-footer p-0 border border-0">
        <button type="submit" class="btn btn-dark btn-block w-100 border rounded rounded-5 p-2">Login</button>
        <a href="./register" class="mt-2 btn btn-light btn-block w-100 border rounded rounded-5 p-2">Register</a>
    </div>
</div>
</form>